{% extends "base.html" %}

{% block content %}
    <h2 class="mb-5">Log In</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>


        <input type="submit" value="Login" class="btn btn-success">
    </form>
{% endblock content %}
{}